{% extends "admin/admin_base.html" %}

{% block title %}
Список администраторов
{% endblock %}

{% block header %}
Администраторы
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item">Администраторы</li>
</ol>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="" class="btn btn-success" style="float: right;">Добавить администоратора</a>
            </div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
            <div class="card card-default">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-striped text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="min-width:250px;">ФИО</th>
                            <th>Дата назначения</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inst in instances %}
                        <tr>
                            <td><a href="{{ url_for('main.admin_detail', user_id=inst.id) }}"
                            style="color: black;">{{ inst.id }}</a></td>
                            <td style="min-width:250px;"><a href="{{ url_for('main.admin_detail', user_id=inst.id) }}"
                            style="color: black;">
                                {{ inst.fio }}
                            </a></td>
                            <td><a href="{{ url_for('main.admin_detail', user_id=inst.id) }}"
                            style="color: black;">
                                {{ inst.joined }}
                            </a></td>
                            <td>
                                <div class="btn-group">
                                    <a href="" class="btn btn-default btn-sm"
                                    title="Редактировать">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-default btn-sm"
                                    title="Удалить">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
