{% extends "admin/admin_base.html" %}
{% import "admin/paginator.html" as macros %}

{% block title %}
Список клиентов
{% endblock %}

{% block header %}
Список клиентов
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item">Список клиентов</li>
</ol>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="col-12" style="margin-top: 15px;">
            <div class="card card-default">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-striped text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="min-width:250px;">ФИО</th>
                            <th>Телефон</th>
                            <th>Город</th>
                            <th>Тип</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inst in instances %}
                        <tr>
                            <td><a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                   style="color: black;">{{ inst.id }}</a></td>
                            <td style="min-width:250px;"><a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                                            style="color: black;">
                                {{ inst.fio }}
                            </a></td>
                            <td><a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                   style="color: black;">
                                {{ inst.phone }}
                            </a></td>
                            <td><a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                   style="color: black;">
                                {% if inst.city %}
                                    {{ inst.city }}
                                {% else %}
                                    Не указано
                                {% endif %}
                            </a></td>
                            <td><a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                   style="color: black;">
                                {{ inst.type.value }}
                            </a></td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ url_for('main.client_detail', obj_id=inst.id) }}"
                                       class="btn btn-default btn-sm"
                                       title="Редактировать">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ url_for('main.delete_client', obj_id=inst.id) }}"
                                       class="btn btn-default btn-sm"
                                       title="Удалить">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ macros.pagination_widget(pagination, '.client_list') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
