{% extends "admin/admin_base.html" %}
{% import "admin/error.html" as error_template %}

{% block title %}
Клиент
{% endblock %}
{% block header %}
Клиент
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.client_list') }}">Клиенты</a></li>
    <li class="breadcrumb-item">Клиент</li>
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        {{ form.fio.label }}
                        {{ form.fio(class="form-control", placeholder="ФИО") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control", placeholder="example@mail.com") }}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label }}
                        {{ form.phone(class="form-control", placeholder="+38063847348") }}
                    </div>
                    <div class="form-group">
                        {{ form.type.label }}
                        {{ form.type(class="form-control") }}
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    {% if instance and instance.photo %}
                    <img src="{{ url_for('common.download_file', name=instance.photo) }}" alt=""
                         style="width: 300px; height: 300px;" class="preview_img img-fluid">
                    {% else %}
                    <img src="{{ url_for('static', filename='img/default_form_image.png') }}" alt=""
                         style="width: 300px; height: 300px;" class="preview_img img-fluid">
                    {% endif %}
                    <div class="form-group text-center" style="margin-top: 10px;">
                        {{ form.photo }}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    {{ form.country.label }}
                    {{ form.country(class="form-control", placeholder="Страна") }}
                </div>
                <div class="col-md-4 col-sm-12">
                    {{ form.city.label }}
                    {{ form.city(class="form-control", placeholder="Город") }}
                </div>
                <div class="col-md-4 col-sm-12">
                    {{ form.address.label }}
                    {{ form.address(class="form-control", placeholder="Адрес") }}
                </div>
            </div>
            {% if instance.type.name == 'legal_person' %}
            <div class="row">
                <div class="col-md-4">
                    {{ form.index.label }}
                    {{ form.index(class="form-control", placeholder="Индекс") }}
                </div>
            </div>
            {% endif %}
            <hr>
            <h4>История заказов</h4>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-default">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Дата</th>
                                <th>Количество товаров</th>
                                <th>Статус</th>
                                <th>Стоимость, грн.</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><button class="page-link" type="button" id="prev">Назад</button></li>
                            <li class="page-item"><button class="page-link" type="button" id="next">Вперед</button></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/update_img_after_upload.js') }}"></script>
<script src="{{ url_for('static', filename='admin/js/utils.js') }}"></script>
<script>
    $('#photo').on('change', function(){
        setPreview(this, '.row')
    })


</script>
<script>
    const SCRIPT_ROOT = {{ request.url_root|tojson }};
    const CLIENT_ID = {{ instance.id }}
    const table = $('table');
    const url = `${SCRIPT_ROOT}client/detail/${CLIENT_ID}/orders_list`;
    const prev_button = $('#prev');
    const next_button = $('#next');

    let current_page = 1;  // store variable in global context to get it from event handlers

    make_get_request(url, {'page': current_page}, render_table)

    function render_table(data){
        if(data.current_page >= data.total_pages){  // if reached last page - disable next button
            next_button.attr('disabled', 'true');
            current_page--;
        }else{
            next_button.removeAttr('disabled');
            current_page = data.current_page;
        }

        if(current_page <= 1){  // if reached first page - disables prev button
            prev_button.attr('disabled', 'true');
        }else{
            prev_button.removeAttr('disabled');
        }


        table.find('tbody').empty();

        for(index of data.orders){
            let tr = $('<tr/>');
            tr.append($('<td/>', {html: `<a href="${SCRIPT_ROOT}admin/order/detail/${index.id}" style="color: black;">${index.id}</a>`}));
            tr.append($('<td/>', {html: `<a href="${SCRIPT_ROOT}admin/order/detail/${index.id}" style="color: black;">${index.date}</a>`}));
            tr.append($('<td/>', {html: `<a href="${SCRIPT_ROOT}admin/order/detail/${index.id}" style="color: black;">${index.amount}</a>`}));
            tr.append($('<td/>', {html: `<a href="${SCRIPT_ROOT}admin/order/detail/${index.id}" style="color: black;">${index.status}</a>`}));
            tr.append($('<td/>', {html: `<a href="${SCRIPT_ROOT}admin/order/detail/${index.id}" style="color: black;">${index.sum}</a>`}));
            table.append(tr);
        }
    }

    prev_button.on('click', function(){
      let page = current_page > 1 ? current_page-1 : 1  // decrement current_page only if its bigger then 1
      make_get_request(url, {'page': page}, render_table);
      $(this).blur();  
    })

    next_button.on('click', function(){;
        make_get_request(url, {'page': current_page+1}, render_table);
        $(this).blur();  
    })

</script>
{% if form.errors %}
{{ error_template.error_dict(form.errors) }}
{% endif %}
{% endblock %}
