{% extends "public/user/account_base.html" %}

{% block profile_breadcrumb %}
<li>
    Адрес
</li>
{% endblock %}

{% block profile_content %}
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            {{ form.csrf_token }}
            <div class="form__title">
                Адрес
            </div>
            {{ form.country }}
            {{ form.city(placeholder="Город") }}
            {{ form.address(placeholder="Адрес") }}
            <input type="text" placeholder="Адрес">
            <button class="button" type="submit">Сохранить</button>
        </form>
    </div>
    <div class="col-lg-6 align-self-end"></div>
</div>
{% endblock %}
