{% extends "public/base.html" %}
{% block content %}
<section class="first-section no-bg">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ url_for('public.main_page') }}">Главная</a>
                </li>
                <li>
                    Восстановление пароля
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="password">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="password__link">
                    <div class="wrap">
                        <i class="nut-icon icons-locked"></i>
                        <a href="{{ url_for('public.restore_password_page') }}"><span>Восстановление пароля</span></a>
                    </div>
                    <p>Введите новый пароль для Email <a href="https://www.google.com/account/about/?hl=en-US">example@gmail.com</a></p>
                </div>
                <form method="post">
                    {{ form.csrf_token }}
                    {{ form.password(placeholder="Новый пароль*") }}
                    {{ form.confirm_password(placeholder="Подтвердить новый пароль*") }}
                    <button class="button" type="submit">Сменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
