{% extends "admin/admin_base.html" %}
{% import "admin/paginator.html" as macros %}

{% block title %}
Список новостей
{% endblock %}

{% block header %}
Новости
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item">Новости</li>
</ol>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a href="{{ url_for('main.create_news') }}" class="btn btn-success" style="float: right;">Добавить новость</a>
            </div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
            <div class="card card-default">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover table-striped text-nowrap">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th style="min-width:250px;">Заголовок</th>
                            <th>Дата публикации</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for inst in instances %}
                        <tr>
                            <td><a href="{{ url_for('main.edit_news', obj_id=inst.id) }}"
                            style="color: black;">{{ inst.id }}</a></td>
                            <td style="min-width:250px;"><a href="{{ url_for('main.edit_news', obj_id=inst.id) }}"
                            style="color: black;">
                                {{ inst.title }}
                            </a></td>
                            <td><a href="{{ url_for('main.edit_news', obj_id=inst.id) }}"
                            style="color: black;">
                                {{ inst.publication_date }}
                            </a></td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ url_for('main.edit_news', obj_id=inst.id) }}" class="btn btn-default btn-sm"
                                    title="Редактировать">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{{ url_for('main.delete_news', obj_id=inst.id) }}" class="btn btn-default btn-sm"
                                    title="Удалить">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">Ничего нет</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {{ macros.pagination_widget(pagination, '.news_list') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
