{% extends "admin/admin_base.html" %}

{% block title %}
Новости
{% endblock %}
{% block header %}
Новости
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.news_list') }}">Новости</a></li>
    <li class="breadcrumb-item">Новость</li>
</ol>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="row" style="align-items: baseline;">
                            <div class="col-md-9 col-sm-12">
                                <h2>{{ instance.title }}</h2>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <h5>Дата публикации: <strong>{{ instance.publication_date.strftime('%Y-%m-%d')
                                    }}</strong></h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="text-center">
                            <img src="{{ url_for('common.download_file', name=instance.photo) }}" alt="Фото новости"
                                 class="img-fluid"
                                 width="500" height="500">
                        </div>
                        <hr>
                        <div class="text">
                            {{ instance.text|safe }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('main.edit_news', obj_id=instance.id) }}" class="btn btn-primary">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
