.base_menu_right_item{
    border-left: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
}

.delete_icon{
    position: absolute;
    top: -10px;
    right: -5px;
}

.input-group-addon{
    padding: 6px 12px;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}