{% extends "admin/admin_base.html" %}
{% import "admin/error.html" as error_template %}

{% block title %}
Галерея
{% endblock %}
{% block header %}
Галерея
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{ url_for('main.statistic') }}">Главная</a></li>
    <li class="breadcrumb-item">Галерея</li>
</ol>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <form method="post" enctype="multipart/form-data">
            <div class="col-4 formset" id="hidden_prefix" style="display: none;">
                <div class="card card-default">
                    <img src="{{ url_for('static', filename='img/default_form_image.png') }}" alt="image"
                         class="img-fluid preview_img">
                    {% for field in empty_form %}
                    {{ field }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                {{ management_form.counter }}
                {% for form in formset %}
                <div class="col-4 formset">
                    {{ form.csrf_token }}
                    <div class="card card-default">
                        {% if form.obj %}
                        <img src="{{ url_for('common.download_file', name=form.obj.photo) }}" alt="image"
                             class="img-fluid preview_img">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/default_form_image.png') }}" alt="image"
                             class="img-fluid preview_img">
                        {% endif %}

                        {{ form.photo(class="upload") }}
                        {{ form.url }}
                        {{ form.delete }}
                        {{ form.prefix }}
                    </div>
                </div>
                {% endfor %}
                <div class="col-4">
                    <button class="btn btn-primary" id="add_new" type="button">Добавить ещё</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Сохраниь</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='admin/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/update_img_after_upload.js') }}"></script>
<script>
    let forms = $('.formset');
    for(form of forms){
        $(form).find(':input[class="upload"]').on('change', function(){
            setPreview(this);
        })
    }
</script>
<script>
    let add_button = $('#add_new');
    $(add_button).on('click', function(){
            let total = $('#counter');
            let new_form = $('#hidden_prefix').clone(true).css('display', '').removeAttr('id');

            let new_prefix_number = Number(total.val()) + 1;
            new_form.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function(){
                $(this).attr('id', $(this).attr('id').replace('__prefix__', `${new_prefix_number}-`));
                $(this).attr('name', $(this).attr('id').replace('__prefix__', `${new_prefix_number}-`));
            })
            new_form.find(':input[type="file"]').on('change', function(){
                setPreview(this);
            })

            $('.formset').last().after(new_form);
            $(total).val(new_prefix_number);
    })
</script>
{% if errors %}
    {{ error_template.errors_list(errors) }}
{% endif %}
{% endblock %}
