{% extends "admin/admin_base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin/plugins/chart.js/Chart.min.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row md-2">
            <div class="col-sm-6">
                <h4 class="m-0">В вашем обслуживании</h4>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>{{ clients }}</h3>
                        <p>Клиентов</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <a href="{{ url_for('main.client_list') }}" class="small-box-footer">
                        Перейти в Клиенты <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ orders }}</h3>
                        <p>Открытых Заказов</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="{{ url_for('main.orders_list') }}" class="small-box-footer">
                        Перейти в Заказы <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ products }}</h3>
                        <p>Товаров</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <a href="{{ url_for('main.products_list') }}" class="small-box-footer">
                        Перейти в Товары <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">График заказов</h3>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div>
                            <canvas id="barChart"
                                    style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 572px;"
                                    width="715" height="312" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='admin/plugins/chart.js/Chart.min.js') }}"></script>

<script>
    const current_year = new Date().getFullYear();
    const month =   ['янв., '+current_year, 'февр., '+ current_year, 'март, '+current_year, 'апр., '+current_year,
                     'май, '+current_year, 'июнь, '+current_year, 'июль, '+ current_year, 'авг., '+current_year,
                     'сент., '+current_year, 'окт., '+current_year, 'нояб., '+current_year, 'дек., '+current_year]

    var areaChartData = {
      labels  : month,
      datasets: [
        {
          label               : 'Выполненные заказы',
          backgroundColor     : 'rgba(0, 166, 90, 1)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [{% for value in done_orders.values() %}{{ value }}, {% endfor %}]
        },
        {
          label               : 'В обработке',
          backgroundColor     : 'rgba(221, 75, 57, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [{% for value in in_progress_orders.values() %}{{ value }}, {% endfor %}]
        },
      ]
    }
    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
</script>
{% endblock %}