<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="UTF-8">
	<title>My title</title>
	<meta name="description" content="My description">

	<!-- Responsive -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="theme-color" content="#337D5A">

	<!-- Touch -->
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">

	<link rel="stylesheet" href="{{ url_for('static', filename='source/css/main.min.css') }}">

</head>

<body class="page">

	<section class="first-section first-section__error no-bg">
		<div class="container">
			<div class="row justify-content-center align-content-center">
				<div class="col-lg-8">
					<div class="wrap">
							<h1>{{ code }}</h1>
							<p>{{ desc }}</p>
						<a href="{{ url_for('public.main_page') }}">Главная страница</a>
					</div>
				</div>
			</div>
		</div>
	</section>

<!--	<script src="js/scripts.min.js"></script>-->
</body>
</html>
